<div *ngIf="showCreateTaskForm" class="container task-form">
  <h2>New Task Form</h2>
  <br />
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="title"
        id="title"
        aria-describedby="title"
        placeholder="Enter the title of the task"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        [(ngModel)]="description"
        placeholder="Enter the description of the task"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
